.go{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (min-width: 600px){
    .carousel-item {
        max-height: 500px;

    }
    }
    .caca{ 
        background-image: url(gogol.jpg);
        background-size: cover;
        background-position :center center;
        padding-bottom: 3rem;
        padding-top: 3rem;

    }
.list-group-item{
    background-color: rgba(255, 255, 255, 0.288);
   
}
.pica{
    margin-top: 2rem;
    font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Pangolin', cursive;
}

.ox{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Pangolin', cursive;
}
.gogo2{
    background-color: gray;
}